# Dependabot will run on day 14 of each month at 01:25 (Europe/Berlin timezone)
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "25 1 14 * *"
    open-pull-requests-limit: 15
    assignees:
      - "Lucky-ESA"
    versioning-strategy: "increase"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "25 1 14 * *"
    open-pull-requests-limit: 15
    assignees:
      - "Lucky-ESA"
